<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/component/config::config"></th:block>
    <link rel="stylesheet" href="/css/mypage.css">
</head>
<body>
<th:block th:replace="/component/header::header"></th:block>
<body>

<div id="container" style="height: 100vh">
    <div id="selectArea" class="flex-shrink-0 p-3"
         style="width: 280px; height: 100%;">
        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
            <svg class="bi pe-none me-2" width="30" height="24">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-5 fw-semibold">마이페이지</span>
        </a>
        <ul class="list-unstyled ps-0">
            <li id="manageProfile" class="mb-1">
                <button id="manageProfile_title"
                        class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                    프로필
                </button>
                <div class="collapse manageProfile_option" id="home-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <button onclick="checkUser()"
                                    class="link-body-emphasis d-inline-flex text-decoration-none rounded">확인하기
                            </button>
                        </li>
                        <li>
                            <button onclick="updateUser()"
                                    class="link-body-emphasis d-inline-flex text-decoration-none rounded">수정하기
                            </button>
                        </li>
                    </ul>
                </div>
            </li>
            <li id="manageGroup" class="mb-1">
                <button id="manageGroup_title"
                        class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#dashboard" aria-expanded="false">
                    모임 관리
                </button>
            </li>


            <li id="manageLocation" class="mb-1">
                <button id="manageLocation_title"
                        class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    모임장소관리
                </button>
                <div class="collapse manageLocation_option" id="dashboard-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">예약내역</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li id="manageCounsel" class="mb-1">
                <button id="manageCounsel_title"
                        class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                    문의신청내역
                </button>
            </li>

            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                    탈퇴하기
                </button>
            </li>
        </ul>
    </div>

    <div id="viewArea">
        <!--        <table>-->
        <!--            <tbody>-->
        <!--            <tr>-->
        <!--                <th>회원번호</th>-->
        <!--                <td id="memberId" th:text="${loginUser.id}"></td>-->
        <!--            </tr>-->
        <!--            <tr>-->
        <!--                <th>아이디</th>-->
        <!--                <td th:text="${loginUser.memberId}"></td>-->
        <!--            </tr>-->
        <!--            <tr>-->
        <!--                <th>비밀번호</th>-->
        <!--                <td th:text="${loginUser.memberPass}"></td>-->
        <!--            </tr>-->
        <!--            <tr>-->
        <!--                <th>이름</th>-->
        <!--                <td th:text="${loginUser.memberName}"></td>-->
        <!--            </tr>-->
        <!--            <tr>-->
        <!--                <th>생년월일</th>-->
        <!--                <td th:text="${loginUser.memberPrivate}"></td>-->
        <!--            </tr>-->
        <!--            <tr>-->
        <!--                <th>성별</th>-->
        <!--                <td th:text="${loginUser.memberGender}"></td>-->
        <!--            </tr>-->
        <!--            <tr>-->
        <!--                <th>이메일</th>-->
        <!--                <td th:text="${loginUser.memberEmail}"></td>-->
        <!--            </tr>-->
        <!--            <tr>-->
        <!--                <th>휴대번호</th>-->
        <!--                <td th:text="${loginUser.memberPhone}"></td>-->
        <!--            </tr>-->
        <!--            </tbody>-->
        <!--        </table>-->
        <ul class="nav nav-tabs">
            <li class="nav-item  ">
                <button class="nav-link active aria-current=page bg-dark text-white" href="#">등록한 모임</button>
            </li>
            <li class="nav-item">
                <button class="nav-link text-black" aria-current="page" href="#">신청한 모임</button>
            </li>
        </ul>
        <div>
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>번호</th>
                        <th>모임이름</th>
                        <th>모임종류</th>
                        <th>모임시간</th>
                        <th>개설일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="group: ${groupList}">
                        <td th:text="${group.id}"></td>
                        <td th:text="${group.partyTitle}"></td>
                        <td th:text="${group.partyCategory}"></td>
                        <td th:text="${group.partyTimes}"></td>
                        <td th:text="${group.partyCreatedTime}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="/js/mypage.js"></script>
</div>
</html>