<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/component/config::config"></th:block>
    <link rel="stylesheet" href="/css/mypage.css">
</head>
<body>
<th:block th:replace="/component/header::header"></th:block>
<body>

<div id="container" style="height: 100vh">
    <div id="selectArea" class="flex-shrink-0 p-3"
         style="width: 280px; height: 100%;">
        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
            <svg class="bi pe-none me-2" width="30" height="24">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-5 fw-semibold">마이페이지</span>
        </a>
        <ul class="list-unstyled ps-0">

            <li id="manageProfile" class="mb-1">
                <button id="manageProfile_title"
                        class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                    프로필
                </button>
                <div class="collapse manageProfile_option" id="home-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <button onclick="checkUser()"
                                    class="link-body-emphasis d-inline-flex text-decoration-none rounded">확인하기
                            </button>
                        </li>
                        <li>
                            <button onclick="updateUser()"
                                    class="link-body-emphasis d-inline-flex text-decoration-none rounded">수정하기
                            </button>
                        </li>
                    </ul>
                </div>
            </li>
            <li id="manageGroup" class="mb-1">
                <button onclick="manageGroup()" id="manageGroup_title"
                        class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#dashboard" aria-expanded="false">
                    모임 관리
                </button>
            </li>
            <li id="manageLocation" class="mb-1">
                <button id="manageLocation_title"
                        class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    모임장소관리
                </button>
                <div class="collapse manageLocation_option" id="dashboard-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">예약내역</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li id="manageCounsel" class="mb-1">
                <button id="manageCounsel_title"
                        class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                    문의신청내역
                </button>
            </li>

            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                    탈퇴하기
                </button>
            </li>
        </ul>
    </div>
    <div id="viewArea">
        <table>
            <tbody>
            <tr>
                <th>회원번호</th>
                <td id="memberId" th:text="${loginUser.id}"></td>
            </tr>
            <tr>
                <th>아이디</th>
                <td th:text="${loginUser.memberId}"></td>
            </tr>
            <tr>
                <th>비밀번호</th>
                <td th:text="${loginUser.memberPass}"></td>
            </tr>
            <tr>
                <th>이름</th>
                <td th:text="${loginUser.memberName}"></td>
            </tr>
            <tr>
                <th>생년월일</th>
                <td th:text="${loginUser.memberPrivate}"></td>
            </tr>
            <tr>
                <th>성별</th>
                <td th:text="${loginUser.memberGender}"></td>
            </tr>
            <tr>
                <th>이메일</th>
                <td th:text="${loginUser.memberEmail}"></td>
            </tr>
            <tr>
                <th>휴대번호</th>
                <td th:text="${loginUser.memberPhone}"></td>
            </tr>
            </tbody>
        </table>

        <!--        <ul class="nav nav-tabs">-->
        <!--            <li class="nav-item  ">-->
        <!--                <button class="nav-link active aria-current=page bg-dark text-white">등록한 모임</button>-->
        <!--            </li>-->
        <!--            <li class="nav-item">-->
        <!--                <button class="nav-link text-black" aria-current="page">신청한 모임</button>-->
        <!--            </li>-->
        <!--        </ul>-->
        <!--        <div>-->
        <!--            <table class="table table-hover">-->
        <!--                <thead class="table-dark">-->
        <!--                <tr>-->
        <!--                    <th>번호</th>-->
        <!--                    <th>모임이름</th>-->
        <!--                    <th>모임종류</th>-->
        <!--                    <th>모임시간</th>-->
        <!--                    <th>개설일</th>-->
        <!--                </tr>-->
        <!--                </thead>-->
        <!--                <tbody>-->
        <!--                <tr th:each="group: ${groupList}">-->
        <!--                    <td th:text="${group.id}"></td>-->
        <!--                    <td th:text="${group.partyTitle}"></td>-->
        <!--                    <td th:text="${group.partyCategory}"></td>-->
        <!--                    <td th:text="${group.partyTimes}"></td>-->
        <!--                    <td th:text="${group.partyCreatedTime}"></td>-->
        <!--                </tr>-->
        <!--                </tbody>-->
        <!--            </table>-->
        <!--        </div>-->
    </div>
</div>
</html>


<script th:inline="javascript">
    const manageGroup = () => {
        const viewArea = document.querySelector("#viewArea");
        const id = [[${loginUser.id}]];
        console.log(id);
        axios({
            url: "/member/groupList/" + id,  // 서버에서 JSON 데이터를 가져올 엔드포인트 URL로 변경해야 합니다.
            method: "get",
            data: {
                id: id
            }
        }).then(res => {
            const groupList = res.data; // 서버에서 받아온 데이터를 groupList 변수에 저장
            let result = "<ul class=\"nav nav-tabs\">\n" +
                "            <li class=\"nav-item  \">\n" +
                "                <button class=\"nav-link text-black saveGroup\" onclick='manageGroup()'>등록한 모임</button>\n" +
                "            </li>\n" +
                "            <li class=\"nav-item\">\n" +
                "                <button class=\"nav-link text-black applyGroup\" onclick='manageApplyGroup()' aria-current=\"page\">신청한 모임</button>\n" +
                "            </li>\n" +
                "        </ul>\n" +
                "        <div>\n" +
                "            <table class=\"table table-hover\">\n" +
                "                <thead class=\"table-dark\">\n" +
                "                <tr>\n" +
                "                    <th>번호</th>\n" +
                "                    <th>모임이름</th>\n" +
                "                    <th>모임종류</th>\n" +
                "                    <th>모임시간</th>\n" +
                "                    <th>개설일</th>\n" +
                "                    <th>신청현황</th>\n" +
                "                </tr>\n" +
                "                </thead>\n" +
                "                <tbody>";
            groupList.forEach(group => {
                result += "<tr>" +
                    "<td>" + group.id + "</td>" +
                    "<td>" + group.partyTitle + "</td>" +
                    "<td>" + group.partyCategory + "</td>" +
                    "<td>" + group.partyTimes + "</td>" +
                    "<td>" + group.partyCreatedTime + "</td>" +
                    "<td><button onclick='partyHistory(" + group.id + ")'>조회</button></td>" +
                    "</tr>";
            });
            result += "                </tbody>\n" +
                "            </table>\n" +
                "        </div>" +
                "<div id='historyArea'></div>";
            viewArea.innerHTML = result;
        }).catch(err => {
            alert("모임 리스트를 가져오는 데 실패했습니다.");
        });
    };
    // 신청자 내역
    const partyHistory = (id) => {
        const historyArea = document.querySelector("#historyArea");
        const applyUser = [[${applyUserDTO}]];
        axios({
            url: "/member/applyHistory/" + id,
            method: "get",
        }).then(res => {
            console.log(applyUser);
            const applyList = res.data;
            applyList.forEach(apply => {
                let result = "            <table class=\"table table-hover\">\n" +
                    "                <thead class=\"table-dark\">\n" +
                    "                <tr>\n" +
                    "                    <th>번호</th>\n" +
                    "                    <th>신청자</th>\n" +
                    "                    <th>가입인사</th>\n" +
                    "                    <th>신청상황</th>\n" +
                    "                    <th>신청자정보</th>\n" +
                    "                </tr>\n" +
                    "                </thead>\n" +
                    "                <tbody>";
                applyList.forEach(apply => {
                    result += "<tr>" +
                        "<td>" + apply.id + "</td>" +
                        "<td>" + apply.memberName + "</td>" +
                        "<td>" + apply.applyContents + "</td>" +
                        "<td>" + apply.isAuthorized + "</td>" +
                        "<td> <button class=\"btn btn-primary\" data-bs-toggle=\"modal\" data-bs-target=\"#exampleModal\"" +
                        "onclick='watchUser(" + apply.id + ")' >조회</button> </td>" +
                        "<div class=\"modal fade\" id=\"exampleModal\" tabindex=\"-1\" aria-labelledby=\"exampleModalLabel\" aria-hidden=\"true\">\n" +
                        "  <div class=\"modal-dialog\">\n" +
                        "    <div class=\"modal-content\">\n" +
                        "      <div class=\"modal-header\">\n" +
                        "        <h1 class=\"modal-title fs-5\" id=\"exampleModalLabel\">회원 정보</h1>\n" +
                        "        <button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"modal\" aria-label=\"Close\"></button>\n" +
                        "      </div>\n" +
                        "      <div id='applyInfoArea' class=\"modal-body\">\n" +
                        "      </div>\n" +
                        "      <div class=\"modal-footer\">\n" +
                        "        <button type=\"button\" class=\"btn btn-secondary\" data-bs-dismiss=\"modal\">닫기</button>\n" +
                        "        <button type=\"button\" class=\"btn btn-primary\">승인</button>\n" +
                        "        <button type=\"button\" class=\"btn btn-danger\">거절</button>\n" +
                        "      </div>\n" +
                        "    </div>\n" +
                        "  </div>\n" +
                        "</div>" +
                        "</tr>";
                });
                result += "                </tbody>\n" +
                    "            </table>\n" +
                    "        </div>";
                historyArea.innerHTML = result;
            })
        }).catch(err => {
            alert("실패했습니다.");
        })
    }

    // 모달창에있는 신청유저 내역확인
    const watchUser = (id) => {
        const applyInfoArea = document.querySelector("#applyInfoArea");
        axios({
            url: "/member/applyUser/" + id,
            method: "get",
        }).then(res => {
            const applyUser = res.data;
            let result = "이름: " + applyUser.memberName + "<br><br>" +
                "생년월일: " + applyUser.memberPass + "<br><br>" +
                "성별: " + applyUser.memberGender + "<br><br>" +
                "이메일: " + applyUser.memberEmail + "<br><br>" +
                "연락처: " + applyUser.memberPhone + "<br><br>";
            applyInfoArea.innerHTML = result;
        }).catch(err => {
            alert("정보를 불러오지 못하였습니다");
        })
        console.log(id);
    }

    const manageApplyGroup = () => {
        const viewArea = document.querySelector("#viewArea");
        const id = [[${loginUser.id}]];
        const apply = [[${applyDTO}]];
        console.log(id);
        axios({
            url: "/member/applyGroupList/" + id,  // 서버에서 JSON 데이터를 가져올 엔드포인트 URL로 변경해야 합니다.
            method: "get",
            data: {
                id: id
            }
        }).then(res => {
            const groupList = res.data; // 서버에서 받아온 데이터를 groupList 변수에 저장
            let result = "<ul class=\"nav nav-tabs\">\n" +
                "            <li class=\"nav-item  \">\n" +
                "                <button class=\"nav-link text-black saveGroup\" onclick='manageGroup()'>등록한 모임</button>\n" +
                "            </li>\n" +
                "            <li class=\"nav-item\">\n" +
                "                <button class=\"nav-link text-black applyGroup\" onclick='manageApplyGroup()' aria-current=\"page\">신청한 모임</button>\n" +
                "            </li>\n" +
                "        </ul>\n" +
                "        <div>\n" +
                "            <table class=\"table table-hover\">\n" +
                "                <thead class=\"table-dark\">\n" +
                "                <tr>\n" +
                "                    <th>번호</th>\n" +
                "                    <th>모임이름</th>\n" +
                "                    <th>모임종류</th>\n" +
                "                    <th>모임시간</th>\n" +
                "                    <th>개설일</th>\n" +
                "                    <th>신청상황</th>\n" +
                "                </tr>\n" +
                "                </thead>\n" +
                "                <tbody>";

            groupList.forEach(group => {
                result += "<tr>" +
                    "<td>" + group.id + "</td>" +
                    "<td>" + group.partyTitle + "</td>" +
                    "<td>" + group.partyCategory + "</td>" +
                    "<td>" + group.partyTimes + "</td>" +
                    "<td>" + group.partyCreatedTime + "</td>" +
                    "<td>" + apply.isAuthorized + "</td>" +
                    "</tr>";
            });

            result += "                </tbody>\n" +
                "            </table>\n" +
                "        </div>";
            viewArea.innerHTML = result;
        }).catch(err => {
            alert("모임 리스트를 가져오는 데 실패했습니다.");
        });
    }

    const updateUser = () => {
        const viewArea = document.querySelector("#viewArea");
        const id = [[${loginUser.id}]];
        axios({
            url: "/member/" + id,
            method: "get"
        }).then(res => {
            const loginUser = res.data; // 서버에서 받아온 데이터를 loginUser 변수에 저장
            let result = "<table>\n" +
                "            <tbody>\n" +
                "            <tr>\n" +
                "                <th>회원번호</th>\n" +
                "                <td><input id='id' type=\"text\" value=\"" + loginUser.id + "\" readonly></td>\n" +
                "            </tr>\n" +
                "            <tr>\n" +
                "                <th>아이디</th>\n" +
                "                <td><input id='memberId' type=\"text\" value=\"" + loginUser.memberId + "\" readonly></td>\n" +
                "            </tr>\n" +
                "            <tr>\n" +
                "                <th>비밀번호</th>\n" +
                "                <td><input id='memberPass' type=\"text\" value=\"" + loginUser.memberPass + "\"></td>\n" +
                "            </tr>\n" +
                "            <tr>\n" +
                "                <th>이름</th>\n" +
                "                <td><input id='memberName' type=\"text\" value=\"" + loginUser.memberName + "\"></td>\n" +
                "            </tr>\n" +
                "            <tr>\n" +
                "                <th>생년월일</th>\n" +
                "                <td><input id='memberPrivate' type=\"date\" value=\"" + loginUser.memberPrivate + "\"></td>\n" +
                "            </tr>\n" +
                "            <tr>\n" +
                "                <th>성별</th>\n" +
                "                <td><input id='memberGender' type=\"text\" value=\"" + loginUser.memberGender + "\"></td>\n" +
                "            </tr>\n" +
                "            <tr>\n" +
                "                <th>이메일</th>\n" +
                "                <td><input id='memberEmail' type=\"text\" value=\"" + loginUser.memberEmail + "\"></td>\n" +
                "            </tr>\n" +
                "            <tr>\n" +
                "                <th>휴대번호</th>\n" +
                "                <td><input id='memberPhone' type=\"text\" value=\"" + loginUser.memberPhone + "\"></td>\n" +
                "            </tr>\n" +
                "            </tbody>\n" +
                "        </table>" +
                "<td><button onclick='goUpdate()'>수정하기</button></td>";
            viewArea.innerHTML = result;
        }).catch(err => {
            alert("업데이트가 불가합니다");
        });
    };

    const checkUser = () => {
        const viewArea = document.querySelector("#viewArea");
        const id = [[${loginUser.id}]];
        console.log(id);
        axios({
            url: "/member/" + id,
            method: "get"
        }).then(res => {
            const loginUser = res.data; // 서버에서 받아온 데이터를 loginUser 변수에 저장
            let result = "<table>\n" +
                "            <tbody>\n" +
                "            <tr>\n" +
                "                <th>회원번호</th>\n" +
                "                <td id='memberId'>" + loginUser.id + "</td>\n" +
                "            </tr>\n" +
                "            <tr>\n" +
                "                <th>아이디</th>\n" +
                "                <td>" + loginUser.memberId + "</td>\n" +
                "            </tr>\n" +
                "            <tr>\n" +
                "                <th>비밀번호</th>\n" +
                "                <td>" + loginUser.memberPass + "</td>\n" +
                "            </tr>\n" +
                "            <tr>\n" +
                "                <th>이름</th>\n" +
                "                <td>" + loginUser.memberName + "</td>\n" +
                "            </tr>\n" +
                "            <tr>\n" +
                "                <th>생년월일</th>\n" +
                "                <td>" + loginUser.memberPrivate + "</td>\n" +
                "            </tr>\n" +
                "            <tr>\n" +
                "                <th>성별</th>\n" +
                "                <td>" + loginUser.memberGender + "</td>\n" +
                "            </tr>\n" +
                "            <tr>\n" +
                "                <th>이메일</th>\n" +
                "                <td>" + loginUser.memberEmail + "</td>\n" +
                "            </tr>\n" +
                "            <tr>\n" +
                "                <th>휴대번호</th>\n" +
                "                <td>" + loginUser.memberPhone + "</td>\n" +
                "            </tr>\n" +
                "            </tbody>\n" +
                "        </table>";
            viewArea.innerHTML = result;
        }).catch(err => {
            alert("정보를 불러올 수 없습니다.");
        });
    };

    const goUpdate = () => {
        const viewArea = document.querySelector("#viewArea");
        const id = document.querySelector("#id").value;
        const memberId = document.querySelector("#memberId").value;
        const memberPass = document.querySelector("#memberPass").value;
        const memberName = document.querySelector("#memberName").value;
        const memberPrivate = document.querySelector("#memberPrivate").value;
        const memberGender = document.querySelector("#memberGender").value;
        const memberEmail = document.querySelector("#memberEmail").value;
        const memberPhone = document.querySelector("#memberPhone").value;
        axios({
            url: "/member/" + id,
            method: "put",
            data: {
                id: id,
                memberId: memberId,
                memberPass: memberPass,
                memberName: memberName,
                memberPrivate: memberPrivate,
                memberGender: memberGender,
                memberEmail: memberEmail,
                memberPhone: memberPhone
            }
        }).then(res => {
            checkUser();
            alert("수정완료");
        }).catch(err => {
            console.log("업데이트 실패");
        })
    }


</script>
