<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>save.html</h2>
<div id="section" class="container">
    <div id="wrapper">
        <form action="">
            <div id="saveId" class="saveInput">
                <label for="memberId">아이디</label>
                <input name="" id="memberId" type="text" value="">
            </div>
            <div id="savePass" class="saveInput">
                <label for="memberPass">비밀번호</label>
                <input name="" id="memberPass" type="text" value="">
            </div>
            <div id="savePassCheck" class="saveInput">
                <label for="passDuCheck">비밀번호재확인</label>
                <input name="" id="passDuCheck" type="text" value="">
            </div>
            <div id="saveName" class="saveInput">
                <label for="memberName">이름</label>
                <input name="" id="memberName" type="text" value="">
            </div>
            <div id="savePrivateNum" class="saveInput">
                <label for="memberPrivate">생년월일</label>
                <input type="hidden" id="memberPrivate" name="memberPrivate">
                <div>
                    <input class="privateNum" id="pNum1" name="pNum1" type="text" placeholder="년(4자)">
                    <select class="privateNum" name="pNum2" id="" pNum2>
                        <option value="">월</option>
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                        <option value="6"></option>
                        <option value="7"></option>
                        <option value="8"></option>
                        <option value="9"></option>
                        <option value="10"></option>
                        <option value="11"></option>
                        <option value="12"></option>
                    </select>
                    <input class="privateNum" id="pNum3" name="pNum3" type="text" placeholder="일">
                </div>
            </div>
            <div id="saveGender" class="saveInput">
                <label for="memberGender">성별</label>
                <select name="memberGender" id="memberGender">
                    <option value="">성별</option>
                    <option value="male">남</option>
                    <option value="female">여</option>
                </select>
            </div>
            <div id="saveEmail" class="saveInput">
                <div class="">
                    <label for="">본인 확인 이메일</label>
                    <input type="text">
                    <button>이메일인증하기</button>
                </div>
                <div>
                    <input type="text" placeholder="인증번호를 입력하세요" disabled>
                </div>
            </div>
            <div id="saveBtn" class="saveInput">
                <button>가입하기</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
<!--아이디 비밀번호 비밀번호 재화인 이름 생년월일 성별 본인 확인 이메일 휴대전화-->