<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/memberLogin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/memberLogin.js"></script>
</head>
<body>


<div id="wrapper">
    <form class="saveForm" action="/member/login">
        <div id="loginIcon">
            <img id="loginIcon-img" src="/images/person-circle.svg" alt="">
        </div>
        <input type="hidden" name="redirectURI" th:value="${redirectURI}">
        <input id="memberId" class="loginInfo" name="memberId" type="text" placeholder="아이디"><br>
        <input id="memberPass" class="loginInfo" name="memberPass" type="password" placeholder="비밀번호"><br>
        <div class="loginBtnGroup">
            <input class="loginInput" type="button" onclick="login()" value="로그인">
            <input class="loginInput" type="button" onclick="goSave()" value="회원가입하기">
        </div>
    </form>
    <div class="saveForm subBtnGroup">
        <div class="loginBtnGroup">
            <input class="loginInput" onclick="searchId()" type="button" value="ID찾기">
            <input class="loginInput" type="button" value="PW찾기" onclick="searchPw()">
            <input class="loginInput" onclick="kakaoLogin()" type="button" value="Kakao로 로그인하기">
            <input class="loginInput" type="button" value="google로 로그인하기">
            <input class="loginInput" type="button" value="github로 로그인하기">
            <input class="loginInput" type="button" onclick="goIndex()" value="뒤로가기">
        </div>
    </div>
</div>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
    const goSave = () => {
        location.href = "/member/save";
    }
    window.Kakao.init("ac8e8fcf2c56fcacc53776e860ac13a1");
    function kakaoLogin() {
        window.Kakao.Auth.login({
            scope: 'profile_nickname, profile_image, account_email, gender',
            success: function (authObj) {
                console.log(authObj);
                window.Kakao.API.request({
                    url: '/v2/user/me',
                    success: res => {
                        const kakao_account = res.kakao_account;
                        console.log(kakao_account);
                        const memberEmail = kakao_account.email;
                        const memberGender = kakao_account.gender
                        const memberName = kakao_account.profile.nickname
                        axios({
                            url: "/member/snsSave",
                            method: "post",
                            data: {
                                memberId: memberEmail,
                                memberName: memberName,
                                memberEmail : memberEmail,
                                memberGender: memberGender

                            }
                        }).then(res => {
                            alert("성공");
                        }).catch(err => {
                            console.log("err: " + err)
                        })
                    }
                })
            }
        });
    }

</script>

</body>
</html>