<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/memberSave.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/memberSave.js"></script>
</head>
<body>
<div id="section" class="container">
    <div id="wrapper">
        <div id="saveForm" name="saveForm">
            <div id="saveId" class="saveInput">
                <label for="memberId">아이디</label><br>
                <div class="checkBlock marginInput">
                    <input class="checkInput" onblur="idBlur()" name="memberId" id="memberId" type="text" placeholder="영소문자,숫자 6~12로 입력해주세요">
                    <input type="button" onclick="idDuCheck()" class="confirmBtn" th:value="중복체크하기">
                </div>
                <p id="duResult"></p>
            </div>
            <div id="savePass" class="saveInput">
                <label for="memberPass">비밀번호</label><br>
                <input class="input" name="memberPass" id="memberPass" onblur="writePass()" type="password" placeholder="영소문자,숫자 6~12로 입력해주세요">
                <p id="pwCheck"></p>
            </div>
            <div id="savePassCheck" class="saveInput">
                <label for="passCheck">비밀번호재확인</label><br>
                <input class="input" name="passCheck" id="passCheck" type="text" disabled>
                <p id="passResult"></p>
            </div>
            <div id="saveName" class="saveInput">
                <label for="memberName">이름</label><br>
                <input class="input" name="memberName" id="memberName" type="text">
            </div>
            <div id="savePrivateNum" class="saveInput">
                <label for="memberPrivate">생년월일</label><br>
                <input type="hidden" id="memberPrivate" name="memberPrivate">
                <div class="selectInput marginInput">
                    <input class="privateNum threeInput" id="pNum1" name="pNum1" type="text" placeholder="년(4자)">
                    <select class="privateNum threeInput" name="pNum2" id="pNum2">
                        <option value="">월</option>
                        <option name="01">1</option>
                        <option name="02">2</option>
                        <option name="03">3</option>
                        <option name="04">4</option>
                        <option name="05">5</option>
                        <option name="06">6</option>
                        <option name="07">7</option>
                        <option name="08">8</option>
                        <option name="09">9</option>
                        <option name="10">10</option>
                        <option name="11">11</option>
                        <option name="12">12</option>
                    </select>
                    <input class="privateNum threeInput" id="pNum3" name="pNum3" type="text" placeholder="일">
                </div>
            </div>
            <div id="saveGender" class="saveInput">
                <label for="memberGender">성별</label><br>
                <select class="input" name="memberGender" id="memberGender">
                    <option>성별</option>
                    <option name="male">남</option>
                    <option name="female">여</option>
                </select>
            </div>
            <div id="saveEmail" class="saveInput">
                <label for="saveEmailCheck">이메일입력</label>
                <div class="checkBlock marginInput">
                    <input type="text" class="checkInput" id="saveEmailCheck" name="saveEmail">
                    <select name="domain" id="domain" class="domainSelect">
                        <option>이메일선택</option>
                        <option name="naver.com">naver.com</option>
                        <option name="daum.com">daum.com</option>
                        <option name="nate.com">nate.com</option>
                        <option name="google.com">google.com</option>
                    </select>
                </div>
            </div>


            <div id="savePhone" class="saveInput">
                <label for="savePhoneCheck">휴대전화</label>
                <div class="checkBlock marginInput">
                    <input type="text" class="checkInput" id="savePhoneCheck" name="memberPhone"
                           placeholder="전화번호입력">
                    <button onclick="recieveNum()" class="confirmBtn">인증번호받기</button>
                </div>
                <div class="checkBlock">
                    <input class="confirmNum input" type="text" placeholder="인증번호를 입력하세요" >
                </div>
            </div>
            <div id="saveBtn" class="saveInput">
                <button onclick="save()" class="input"> 가입하기</button>
            </div>
            <div id="backBtn" class="saveInput">
                <button onclick="back()" class="input"> 뒤로가기</button>
            </div>
        </div>
    </div>

</div>


<script>
</script>
</body>
</html>
