<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="group">

    <div class="album py-5 groupBody"
         style="padding: 5%; ">
        <div class="container">
            <div th:if="${groupList.size} == 0">
                <h1 style="text-align: center">현재 등록된 모임이 없습니다.</h1>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div th:each="group: ${groupList}" class="col">

                    <div th:unless="${group.storedFileName == null}" class="card shadow-sm">
                        <img th:src="@{|/upload/${group.storedFileName}}" class="bd-placeholder-img card-img-top"
                             width="100%" height="330"
                             preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <div class="card-body bg-dark text-white">
                            <h2 th:text="${group.partyTitle}"></h2>
                            <p class="card-text" th:text="${group.partyDetail}"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button th:onclick="'viewBtn(\'' + ${group.id} + '\')'" type="button"
                                            class="btn btn-sm btn-outline-secondary">
                                        View
                                    </button>
                                    <button th:onclick="'reViewBtn(\'' + ${group.id} + '\')'" type="button"
                                            class="btn btn-sm btn-outline-secondary">Review
                                    </button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>

                    <div th:if="${group.storedFileName == null}" class="card shadow-sm">
                        <img src="/images/NoImage.jpg" class="bd-placeholder-img card-img-top"
                             width="100%" height="330"
                             preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <div class="card-body bg-dark text-white">
                            <h2 th:text="${group.partyTitle}"></h2>
                            <p class="card-text" th:text="${group.partyDetail}"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button th:onclick="'viewBtn(\'' + ${group.id} + '\')'" type="button"
                                            class="btn btn-sm btn-outline-secondary">
                                        View
                                    </button>
                                    <button th:onclick="'reViewBtn(\'' + ${group.id} + '\')'" type="button" class="btn btn-sm btn-outline-secondary">
                                        Review
                                    </button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <script>
        const viewBtn = (id) => {
            location.href = "/studygroup/" + id;
        }

        const reViewBtn = (id) => {
            console.log(id);
            location.href = "/review/list/" + id;
        }
    </script>
</th:block>
</body>
</html>