<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/component/config::config"></th:block>
</head>
<body>
<th:block th:fragment="nav">
    <nav class="py-2 bg-body-tertiary border-bottom">
        <div class="container d-flex flex-wrap" >
            <ul class="nav me-auto" style="color: white">
                <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2 active"
                                        aria-current="page">홈페이지</a></li>
                <li class="nav-item"><a href="/board" class="nav-link link-body-emphasis px-2">게시판</a></li>
                <li class="nav-item"><a href="/studygroup/list" class="nav-link link-body-emphasis px-2">전체모임</a></li>
                <li class="nav-item"><a href="/studygroup/location" class="nav-link link-body-emphasis px-2">모임장소</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">공지사항</a></li>
            </ul>
            <ul th:if="${session.loginId == null}" class="nav">
                <li class="nav-item"><a href="/member/login" class="nav-link link-body-emphasis px-2">로그인</a></li>
                <li class="nav-item"><a href="/member/save" class="nav-link link-body-emphasis px-2">회원가입</a></li>
            </ul>
            <ul th:unless="${session.loginId == null}" class="nav">
                <li class="nav-item"><a href="/member/logout" class="nav-link link-body-emphasis px-2">로그아웃</a></li>
                <li class="nav-item"><a href="/member/mypage" class="nav-link link-body-emphasis px-2">마이페이지</a></li>
            </ul>
        </div>
    </nav>
</th:block>
</body>
</html>