<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="/component/config::config"></th:block>
</head>
<body>
<th:block th:replace="/component/header::header"></th:block>
<div class="row featurette" style="margin: 5%">

    <div class="col-md-7 order-md-2" style="padding-top: 7%">
        <h1 class="featurette-heading fw-normal lh-1" th:text="${group.getPartyTitle()}"></h1><br>
        <div>
            <strong>모임정원: </strong>
            <span class="lead" th:text="${group.getPartyPersonnel()}"></span>
        </div>
        <div>
            <strong>현재인원: </strong>
            <span class="lead" th:text="${group.getUserCount()}"></span>
        </div>
        <div>
            <strong>모임종류: </strong>
            <span class="lead" th:text="${group.getPartyCategory()}"></span>
        </div>
        <div>
            <strong>모임시간: </strong>
            <span class="lead" th:text="${group.getPartyTimes()}"></span>
        </div>
        <div>
            <strong>모임설명: </strong>
            <span class="lead" th:text="${group.getPartyDetail()}"></span>
        </div>
        <div>
            <strong>모임방법: </strong>
            <span class="lead" th:text="${group.getPartyMethod()}"></span>
        </div>

        <div style="margin-top: 5%">

            <!--로그인한 유저가 모임의 등록유저 일 때-->
            <div th:if="${group.hostId == loginUserId}">
                <button th:onclick="goUpdate([[${group.id}]])" type="button" class="btn btn-primary">모임수정
                </button>
                <button th:onclick="goDelete([[${group.id}]])" type="button" class="btn btn-danger">모임삭제
                </button>
                <button onclick="history.back()" type="button" class="btn btn-light">뒤로가기</button>
            </div>

            <!--로그인한 유저가 모임의 등록유저가 아닐 때-->
            <div th:unless="${group.hostId == loginUserId}">
                <!--조회한 모임에 신청을 하지 않았을 때-->
                <div th:if="${applyDTO} == null">
                    <button th:if="${group.getUserCount() < group.getPartyPersonnel()}" type="button"
                            class="btn btn-primary"
                            data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">모임신청
                    </button>
                    <button th:unless="${group.getUserCount() < group.getPartyPersonnel()}" type="button"
                            class="btn btn-primary" disabled>인원마감
                    </button>
                    <button onclick="history.back()" type="button" class="btn btn-light">뒤로가기</button>
                </div>

                <!--조회한 모임이 신청한 모임일 때-->
                <div th:unless="${applyDTO == null}" th:switch="${applyDTO.getIsAuthorized()}">

                    <button th:case="'승인대기중'" type="button" class="btn btn-secondary" disabled>
                        승인대기중
                    </button>
                    <button th:case="'승인허가'" type="button" class="btn btn-primary" disabled>
                        가입된 모임
                    </button>
                    <button th:case="'승인거절'" type="button" class="btn btn-danger" disabled>
                        거절된 모임
                    </button>
                    <button onclick="history.back()" type="button" class="btn btn-light">뒤로가기</button>

                </div>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <div id="applyForm">
                                <div class="mb-3">
                                    <input id="memberName" type="text" style="display: none" name="memberName"
                                           th:value="${loginUser}">
                                    <label for="applyParty" class="col-form-label">신청모임</label>
                                    <input id="applyParty" type="text" class="form-control"
                                           name="applyParty"
                                           th:value="${group.getPartyTitle()}" readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="applyContents" class="col-form-label">가입인사</label>
                                    <textarea id="applyContents" class="form-control"
                                              name="applyContents"></textarea>
                                </div>
                                <input id="memberId" type="text" style="display:none;" name="memberId"
                                       th:value="${loginUserId}">
                                <input id="partyId" type="text" style="display:none;" name="partyId"
                                       th:value="${group.getId()}">
                                <input id="hostId" type="text" style="display:none;" name="hostId"
                                       th:value="${group.getHostId()}">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button th:unless="${session.loginId == null}" onclick="applySave()" type="button"
                                    class="btn btn-primary" data-bs-dismiss="modal">
                                Send message
                            </button>
                            <button th:if="${session.loginId == null}" onclick="goLogin()" type="button"
                                    class="btn btn-primary" data-bs-dismiss="modal">
                                Send message
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div th:if="${group.storedFileName == null}" class="col-md-5 order-md-1">
        <img src="/images/NoImage.jpg"
             class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
             height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
        <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
    </div>

    <div th:unless="${group.storedFileName == null}" class="col-md-5 order-md-1">
        <img th:src="@{|/upload/${group.storedFileName}}"
             class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
             height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
        <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
    </div>

</div>

<th:block th:replace="/component/footer::footer"></th:block>

<script>

    const applySave = () => {
        const memberName = document.querySelector("#memberName");
        const applyParty = document.querySelector("#applyParty");
        const applyContents = document.querySelector("#applyContents");
        const memberId = document.querySelector("#memberId");
        const partyId = document.querySelector("#partyId");
        const hostId = document.querySelector("#hostId");
        axios({
            url: "/apply/save",
            method: "post",
            data: {
                memberName: memberName.value,
                applyParty: applyParty.value,
                applyContents: applyContents.value,
                memberId: memberId.value,
                partyId: partyId.value,
                hostId: hostId.value
            }
        }).then(res => {
            location.href = "/studygroup/" + partyId.value;
        }).catch(err => {
            alert("모임 인원이 다 찼습니다.");
        })
    }

    const goLogin = () => {
        let con = confirm("로그인 하시겠습니끼?");
        if (con) {
            location.href = "/member/login";
        }
    }

    const goUpdate = (id) => {
        axios({
            url: "/studygroup/axiosUpdate/" + id,
            method: "get"
        }).then(res => {
            location.href = "/studygroup/update/" + id;
        }).catch(err => {
            alert("페이지에 접근할 수 없습니다.");
        })
    }

    const goDelete = (id) => {
        const con = confirm("정말로 삭제 하시겠습니까?");
        if (con) {
            axios({
                url: "/studygroup/" + id,
                method: "delete"
            }).then(res => {
                location.href = "/studygroup/list";
                alert("삭제 성공");
            }).catch(err => {
                alert("삭제에 실패하였습니다.");
            })
        }
    }


</script>
</body>
</html>