<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="/component/config::config"></th:block>
    <link rel="stylesheet" th:href="@{/css/studygroupReview.css}">
</head>
<body>
<th:block th:replace="/component/header::header"></th:block>

<div class="bg-dark text-secondary px-4 py-5 text-center" style="padding: 6% 0">
    <div class="py-5 ">
        <h1 class="display-5 fw-bold text-white">리뷰 작성</h1>
    </div>
</div>

<div class="wrap px-4 py-5 text-center">
    <form class="mb-3" name="myform" id="myform" method="post" action="/review/save">
        <input type="hidden" name="memberId" id="memberId" th:value="${partyUser.memberId}">
        <input type="hidden" name="groupId" id="groupId" th:value="${partyUser.partyId}">
        <input type="hidden" name="userName" id="userName" th:value="${partyUser.userName}">
        <h1 class="review_line">
            [[${partyUser.userName}]]님 그동안 즐거웠습니다!
        </h1>
        <h2 class="title_star review_line">모임에 대한 별점과 리뷰를 남겨주세요.</h2>
        <div class="review_rating review_line">
            <fieldset>
                <h5 style="font-weight: bolder">별점을 선택해주세요</h5>
                <input type="radio" name="rate" value="5" id="rate1"><label
                    for="rate1">★</label>
                <input type="radio" name="rate" value="4" id="rate2"><label
                    for="rate2">★</label>
                <input type="radio" name="rate" value="3" id="rate3"><label
                    for="rate3">★</label>
                <input type="radio" name="rate" value="2" id="rate4"><label
                    for="rate4">★</label>
                <input type="radio" name="rate" value="1" id="rate5"><label
                    for="rate5">★</label>
            </fieldset>
        </div>
        <div class="review_contents review_line form-floating"
             style="display: flex; flex-direction: column; align-items: center">
            <div class="warning_msg"><h4>5자 이상으로 작성해 주세요.</h4></div>
            <textarea name="reviewContents" id="floatingTextarea2" rows="10" class="review_textarea form-control"
                      style="width: 50%; height: 10%; border: 2px solid black"></textarea>
        </div>
        <div class="cmd" style="margin-bottom: 3%">
            <button th:onclick="saveReview()" type="button" class="btn btn-primary" name="save">등록하기</button>
            <button type="button" class="btn btn-danger" name="save">취소하기</button>
        </div>
    </form>
    <script>
        const saveReview = () => {
            const reviewStar = document.querySelector("input[name='reviewStar']");
            const reviewForm = document.querySelector("#myform");
            reviewForm.submit()
        }
    </script>
</div>
</body>
</html>