<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="/component/config::config"></th:block>
</head>
<body>
<th:block th:replace="/component/header::header"></th:block>
<div class="bg-dark text-secondary px-4 py-5 text-center" style="padding: 6% 0">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">모임에 들어온걸 환영한다</h1>
    </div>
</div>
<div class="accordion accordion-flush" id="accordionFlushExample" style="padding: 0 5%">

    <div style="margin: 3% 0">
        <!-- 모임정보 키기 -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#groupInfo">
            모임 정보 확인
        </button>
        <!-- 채팅방 입장 -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chattingRoom">
            채팅방 입장
        </button>

        <!-- 모임정보 나타내기 -->
        <div class="modal fade" id="groupInfo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="groupInfoLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="groupInfoLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        모임
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Understood</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 채팅창 나타내기 -->
        <div class="modal fade" id="chattingRoom" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="chattingRoomLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="chattingRoomLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        채팅방
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Understood</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                회원 목록
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <table class="table table-hover">
                    <thead class="table-dark">
                    <tr>
                        <th>이름</th>
                        <th>직책</th>
                        <th>성별</th>
                        <th>조회</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:each="user:${list}">
                        <tr>
                            <td th:text="${user.getMemberId()}"></td>
                            <td th:text="${user.getUserPosition()}"></td>
                            <td th:text="${user.getMemberGender()}"></td>
                            <td>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#userInfoBackdrop"
                                        th:attr="onclick=|checkInfo('${user.getMemberId()}', ${user.getPartyId()})|">
                                    조회
                                </button>
                            </td>
                        </tr>
                        <!-- Modal -->
                        <div class="modal fade" id="userInfoBackdrop" data-bs-backdrop="static"
                             data-bs-keyboard="false" tabindex="-1" aria-labelledby="userInfoBackdropLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="userInfoBackdropLabel">회원 정보</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body memberInfo">

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                        <button type="button" class="btn btn-primary">Understood</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </tbody>
                </table>
            </div>
        </div>

        <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                투표목록
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being
                filled with some actual content.
            </div>
        </div>
    </div>

    <div style="margin: 3% 0">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#withdrawGroup">모임탈퇴
        </button>
        <button type="button" class="btn btn-outline-danger">나가기</button>
    </div>

    <!--모임 탈퇴 모달-->
    <div class="modal fade" id="withdrawGroup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="withdrawGroupLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="withdrawGroupLabel">탈퇴하기</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    정말 모임을 탈퇴 하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">아니요</button>
                    <button th:if="${memberDTO.getId()==studygroupDTO.getHostId()}" class="btn btn-primary"
                            data-bs-target="#exampleModalToggle" data-bs-toggle="modal">네
                    </button>
                    <button th:unless="${memberDTO.getId()==studygroupDTO.getHostId()}" type="button"
                            class="btn btn-danger"
                            th:attr="onclick=|withdrawGroup(${memberDTO.getId()}, ${studygroupDTO.getId()})|">
                        네
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">방장권한위임</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    Show a second modal and hide this one with the button below.
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">확인하기
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 2</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h2 class="fs-5">Popover in a modal</h2>
                    <p>This
                        <button class="btn btn-secondary" data-bs-toggle="popover" title="Popover title"
                                data-bs-content="Popover body content is set in this attribute.">button
                        </button>
                        triggers a popover on click.
                    </p>
                    <hr>
                    <h2 class="fs-5">Tooltips in a modal</h2>
                    <p><a href="#" data-bs-toggle="tooltip" title="Tooltip">This link</a> and <a href="#"
                                                                                                 data-bs-toggle="tooltip"
                                                                                                 title="Tooltip">that
                        link</a> have tooltips on hover.</p>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Back to
                        first
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>
<script>
    const withdrawGroup = (memberId, studygroupId) => {
        console.log(memberId, studygroupId);
        axios({
            url: "/partyUser/resign",
            method: "put",
            data: {
                partyId: studygroupId,
                memberId: memberId,
                userPosition: "탈퇴유저"
            }
        }).then(res => {
            console.log(res.data);
            location.href = "/review/save/" + res.data.memberId;
        }).catch(err => {
            alert("탈퇴실패");
        })
    }

    const checkInfo = (memberId, partyId) => {
        console.log(memberId, partyId)
        axios({
            url: "/partyUser/detail",
            method: "post",
            data: {
                memberId: memberId,
                partyId: partyId
            }
        }).then(res => {
            console.log(res.data);
            let partyUser = res.data;
            let memberInfo = document.querySelector(".memberInfo");
            let output = "<p>이름: " + partyUser.memberName + "</p>\n" +
                "                                        <p>아이디: " + partyUser.memberId + "</p>\n" +
                "                                        <p>생년월일: " + partyUser.memberPrivate + "</p>\n" +
                "                                        <p>성별: " + partyUser.memberGender + "</p>\n" +
                "                                        <p>이메일: " + partyUser.memberEmail + "</p>\n" +
                "                                        <p>연락처: " + partyUser.memberPhone + "</p>";
            memberInfo.innerHTML = output;
        }).catch(err => {
            alert("정보를 조회할 수 없습니다.");
        })
    }


</script>
</div>
</body>
</html>