@import "reset.css";
@import "backgroundColor.css";
@import "form.css";


#wrapper {
    width: 100vw;
    display: flex;
}
.saveForm {
    width: 34%;
    margin: 5%;
}
input {
    width: 100%;
}
#loginIcon-img {
    width: 60%;
    height: 50%;
}


/*로그인, 회원가입 뒤로가기 버튼관리 */
.loginInput {
    margin-bottom: 10px;
    border: none;
    display: block;
    cursor: pointer;
}


.loginBtnGroup {
    width: 100%;
}


#loginIcon {
    width: 100%;
    height: 50%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.loginInfo {
    border: none;
    border-bottom: 1px solid black;
    background-color: rgba(0, 0, 0, 0);
}

.subBtnGroup{
    justify-content: center;
}
